/* style.module.css */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f48e8e;
    text-align: center; /* Align text in the center */
  }
  
  .container h1 {
    margin-bottom: 16px;
  }
  
  .container p {
    font-size: 1.2rem; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    max-width: 600px; /* Set a maximum width for better readability */
    margin-bottom: 16px; /* Adjust as needed */
  }
  
  .container a {
    margin-bottom: 16px;
  }
  